<!-- <script>
  function detectCFScript() {
    var cfScript = Array.prototype.find.call(document.scripts, function(s) {
      return s !== document.currentScript && s.textContent.indexOf('__cf_email__') > -1;
    });

    if (cfScript)
      this.addEventListener('hy-push-state-load', new Function(cfScript.textContent));

    this.removeEventListener('hy-push-state-init', detectCFScript);
  }

  document
    .getElementsByTagName('hy-push-state')[0]
    .addEventListener('hy-push-state-init', detectCFScript);
</script> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/darkmode.js"></script>
